body {
  background-color: #5185B6;
}
.jumbotron {
  background-color: #8CB3D7;
}
h1 {
  font-family: 'Franklin Gothic Medium';
  text-align: center;
}
h2 {
  font-size: xx-large;
}
img {
  position: relative;
  top: 50%;
  left: 25%;
  height: 50%;
  width: 50%;
  margin: auto 10px;
  border: 5px solid lavender;
  border-radius: 25px;
  padding: 5px;
  background-color: white;
}
}
.edu {
  color: navy;
}
h2 {
  font-family: 'Franklin Gothic Medium';
}
.panel {
  margin: 25px;
  border: 25px;
  padding: 25px;
}
.panel-heading {
  background-color: black;
}
.panel-body {
  background-color: lightslategray;
  color: whitesmoke;
}