body {
  background-color: #5185B6;
}
.jumbotron {
  background-color: #8CB3D7;
  margin-top: 25px;
}
h1 {
  font-family: 'Franklin Gothic Medium';
  text-align: center;
}
h2 {
  font-size: xx-large;
}
img {
  position: relative;
  top: 50%;
  left: 23%;
  height: 50%;
  width: 50%;
  margin: auto 10px;
  border: 5px solid lavender;
  border-radius: 25px;
  padding: 5px;
  background-color: white;
}
.edu {
  color: gold;
}
.projects {
  font-family: 'Franklin Gothic Medium';
  text-align: center;
  color: black;
}
.card {
  position: relative;
  top: 10px;
  left: 10%;
  width: 80%;
  height: 30%;
  margin: auto 10px;
  border: 5px solid lavender;
  border-radius: 25px;
  padding: 5px;
  background-color: white;
  float: bottom;
  color: black;

}
.panel {
  margin: 10px;
  border: 5px solid lavender;
  padding: 5px;
  background-color: white;
}
.panel-heading {
  background-color: black;
}
.panel-body {
  background-color: lightslategray;
  color: whitesmoke;
}